@{
    ViewData["Title"] = "Home Page";
}

@model ProductsListViewModel
<h2 class="d-block text-center">@ProductDTO_caption.CaptionTable</h2>

<products-list products="@Model.Products"></products-list>


@if (Model.Products.Empty() == false)
{
    <page-link paging-info="@Model.PagingInfo"></page-link>
   
}
<div class="mt-2">
    <a asp-controller="Home" asp-action="Add" class="btn btn-outline-info">@ProductDTO_caption.Add</a>
</div>